<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.privilege.dao.ISysUserDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,role_id,username,account,password,status,tel_phone,email,modify_time,create_time
    </sql>

    <!--    查询分页用户信息-->
    <select id="getListPage" resultType="com.github.privilege.bean.SysUser">
        select *
        from sys_user
        <where>
            <if test="ew.username!=null and ew.username !=''">
                user_name like '%${ew.username}%'
            </if>
            <if test="ew.loginName !=null and ew.loginName !=''">
                login_name = '%${ew.loginName}%'
            </if>
            <if test="ew.roleId!=null and ew.roleId !=''">
                role_id in
                (select id from sys_role
                <where>
                    <if test="ew.roleId != null and ew.roleId != ''">
                        id = #{ew.roleId}
                    </if>
                    <if test="ew.roleId != null and ew.roleId != ''">
                        role_name = #{ew.roleId}
                    </if>
                </where>
                )
            </if>
        </where>
    </select>

    <!-- 查询全部-->
    <select id="getList" resultType="com.github.privilege.bean.SysUser">
        select *  from sys_user
    </select>
    <!--    通过用户id查询用户信息-->
    <select id="getUserById" resultType="java.lang.Integer">
            select * from sys_user where id= #{id}
    </select>
    <!--    通过手机号查询用户信息-->
    <select id="getPhone" resultType="java.lang.Integer">
              select * from sys_user where phone= #{phone}
    </select>
    <!--    通过邮箱查询用户信息-->
    <select id="getEmail" resultType="java.lang.Integer">
              select * from sys_user where email= #{email}
    </select>
    <!--    通过用户名查询用户信息-->
    <select id="getUserName" resultType="java.lang.Integer">
              select * from sys_user where user_name= #{username}
    </select>

    <!--    通过账号查询用户信息-->
    <select id="getLoginName" resultType="java.lang.Integer">
            select * from sys_user where login_name= #{loginName}
    </select>

    <!-- 批量删除   -->
    <delete id="deleteUserBatch">
        delete from sys_user
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


</mapper>
